# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# PyCharm project files
.idea/

# VSCode project files (optional, in case you switch editors)
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Python egg metadata
*.egg-info/
*.egg

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy and other tooling
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Build artifacts
build/
dist/
*.egg
*.whl
